[role="dialog"] {
    width: 400px;
    height: 200px;
    position: absolute;
}

[role="dialog"] h2 {
    background: #ccc;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    margin: 0;
}

[role="dialog"] p {
    margin: 0;
    padding: 10px;
    font-size: 12px;
}